@font-face{
    font-family:'Nasalization';
    src:url('Fonts/nasalization-rg-webfont.woff');
}

body {
	color: #005288;    
	font-family: Nasalization;
	background-color: black;
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

img{
    width: 200px;
    margin-left: 20px;
    margin-top: 0px;
}

h1{ 
    font-size: 3em;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
	text-shadow: 1px 1px 0 rgb(255, 254, 254);
}

.container{
	margin: 10px;
    margin-bottom: 15px;
    padding: 15px;
	border: 5px solid #005288;
    border-radius: 50%;
	background-color: rgba(0,0,0,0.9);
	overflow: hidden;
	text-align: center;	
	border-radius: 30px;
    position: relative;
}

#vandaag, #dagen, #datum, #dagenVerschil, #temperatuur {
    font-size: 1.8em;
    color: #ffffff;
}

.tekst{
    font-size: 1.5em;
    margin: 0px;
}

footer{
    font-size: 2em;
    text-align: center;
	text-shadow: 1px 1px 0 rgb(255, 254, 254);
}

button{
    height: 50px;
    width: 150px;
    background-color: black;
    color: white;
    border-radius: 20%;
    font-size: 20px;
}

/*DE BAL*/
.ballen {
    margin: auto;
	overflow: hidden;
	position: relative;
}
#zon.block, #maan.block{
    display: block;
}
#zon.none, #maan.none{
    display: none;
}
#zon, #maan{
    width: 100px;
}




/*KLOK*/
.wrapper {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 30px;
    height: 110px;
    width: 350px;
    position: relative;
    background: linear-gradient(200deg,  #fafafa, #ffe882, #074963);
    border-radius: 10px;
    cursor: default;
    animation: animate 10s linear infinite;
}
.wrapper .display,
.wrapper span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrapper .display {
    z-index: 1;
    height: 85px;
    width: 280px;
    background: #000000;
    border-radius: 6px;
    text-align: center;
}
.display #klok {
    line-height: 70px;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(200deg, #fafafa, #ffe882, #074963);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;
}
@keyframes animate {
    100%{
        filter: hue-rotate(360deg);
    }
}
.wrapper span{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: inherit;
}
.wrapper span:first-child{
    filter: blur(5px);
}
.wrapper span:last-child{
    filter: blur(20px);
}

/*Elon Musk Animatie*/
#elon {
    overflow: hidden;
    transition-duration: 3s;
    margin-left: 300px;
    opacity: 0;
}

#elon.changesSize {
	transition-duration: 3s;
	margin-left: 30px;
	transition-timing-function: ease-in;
	transition: 1s ease-in;
    opacity: 1;
}


.animatie{
    display: none;
}


/*LAYOUT*/
.head{
    grid-area: head;
}
.ballen{
    grid-area: ballen;
}
.wrapper{
    grid-area: wrapper;
}
.vandaag1{
    grid-area: vandaag1;
}
.dag{
    grid-area: dag;
}
.datum1{
    grid-area: datum1;
}
.verschil{
    grid-area: verschil;
}
.temperatuur{
    grid-area: temperatuur;
}
.animatie{
    grid-area: animatie;
}
.foot{
    grid-area: foot;
}

@media only screen and (min-width: 768px) and (max-width: 1365px){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "ballen ballen"
        "wrapper wrapper"
        "vandaag1 dag"
        " datum1 verschil"
        "temperatuur temperatuur"
        "foot foot";
        gap: 5px;
    }
    
    img{
        width:250px;
    }
    h1{
        font-size: 3.5em;
    }
    
    #zon, #maan{
        width: 150px;
    }
}
@media only screen and (min-width: 1366px) and (max-width: 1919px){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "ballen ballen ballen"
        "wrapper wrapper wrapper"
        "vandaag1 dag datum1"
        "verschil temperatuur temperatuur"
        "foot foot foot";
        gap: 5px;
    }
    img{
        width: 300px;
    }
    h1{
        font-size: 4em;
    }
    #zon, #maan{
        width: 180px;
    }
    #vandaag, #dagen, #datum, #dagenVerschil, #temperatuur {
        font-size: 1.9em;
        color: #ffffff;
    }
    .tekst{
        font-size: 1.6em;
        margin: 0px;
    }
}
@media only screen and (min-width: 1920px){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "ballen ballen ballen"
        "wrapper wrapper wrapper"
        "vandaag1 dag datum1"
        "verschil temperatuur animatie"
        "foot foot foot";
        gap: 5px;
    }
    img{
        width: 300px;
    }
    h1{
        font-size: 4em;
    }
    .animatie{
        display: block;
    }
    #zon, #maan{
        width: 200px;
    }
    #vandaag, #dagen, #datum, #dagenVerschil, #temperatuur {
        font-size: 2.5em;
        color: #ffffff;
    }
    
    .tekst{
        font-size: 2em;
        margin: 0px;
    }
}